data/pokemon.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="trainer">
    <xs:complexType>
      <xs:sequence>
	      <xs:element type="xs:string" name="name"  minOccurs="1"  maxOccurs="1"/>
		  <xs:element name="pokemon"  minOccurs="1"  maxOccurs="6">
			<xs:complexType>
			  <xs:sequence>
				<xs:element type="xs:string" name="name" minOccurs="1" maxOccurs="1"/>
				<xs:element type="xs:string" name="type" minOccurs="1" maxOccurs="1"/>
				<xs:element type="xs:string" name="type2" minOccurs="0" maxOccurs="1" default="none"/>
				<xs:element name="attributes" minOccurs="1" maxOccurs="1">
				  <xs:complexType>
					<xs:simpleContent>
					  <xs:extension base="xs:string">
						<xs:attribute type="xs:integer" name="health" use="required"/>
						<xs:attribute type="xs:integer" name="attack" use="required"/>
						<xs:attribute type="xs:integer" name="defense" use="required"/>
						<xs:attribute type="xs:integer" name="speed" use="required"/>
					  </xs:extension>
					</xs:simpleContent>
				  </xs:complexType>
				</xs:element>
				<xs:element name="move" maxOccurs="4" minOccurs="0">
				  <xs:complexType>
					<xs:simpleContent>
					  <xs:extension base="xs:string">
						<xs:attribute type="xs:string" name="name" use="required"/>
						<xs:attribute type="xs:string" name="type" use="required"/>
						<xs:attribute type="xs:string" name="mode" use="required"/>
						<xs:attribute type="xs:integer" name="value" use="required"/>
					  </xs:extension>
					</xs:simpleContent>
				  </xs:complexType>
				</xs:element>
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>